 <form id="sign_up" action="/user/signup" method="post">
 	<br>
 	<br>
  	<input type="text" name="user[name]" placeholder="Name">
	<br><br>
	<input type="text" name="user[email]" placeholder="Email">
	<br><br>
	<input type="password" name="user[password]" placeholder="Password">
	<br><br>
	<input type="password" name="user[password_confirmation]" placeholder="Confirm Password">
	<br>
	<br>
	<input type="submit" value="submit">
</form>
